$toolbar-size: 80px;
.toolbar{
	position:fixed;
	right:70px;
	bottom:5px;
}
.toolbar-item{
	display:block;
	width:$toolbar-size;
	height:$toolbar-size;
	background-image:url(../image/toolbar.png);
	background-repeat: no-repeat;
	margin-top:1px;
}
.toolbar-item-one{
	background-position:0 0px;
	&:hover{
		background-position:0 -80px;
	}
}
.toolbar-item-two{
	background-position:0 -160px;
	&:hover{
		background-position:0 -240px;
	}
}
.toolbar-item-three{
	background-position:0 -320px;
	&:hover{
		background-position:0 -400px;
	}
}
.toolbar-item-four{
	background-position:0 -480px;
	&:hover{
		background-position:0 -560px;
	}
}